.base_button_wrapper{
    text-decoration:none;
    padding:8px 24px;
    font-size:16px;
    font-weight:600;
    background-color:var(--secondary-accent-color);
    border-radius:var(--border-radius-16);
    border:none;
    color:var(--white-color);
    cursor:pointer;
    border:2px solid var(--secondary-accent-color); 

}

.base_button_wrapper:hover {
    background-color: transparent;
    border:2px solid var(--secondary-accent-color); 
    color: var(--secondary-accent-color);
  }