.input_field_wrapper {
    display: block;
  }
  
  .input_field_wrapper label {
    color: var(--secondary-black-color);
    font-weight: 600;
  }
  
  .input_field_wrapper input {
    width: 100%;
    height: 2rem;
    padding: 0px 0px;
    border:1px solid var(--light-color);
    border-radius:var(--border-radius-8);
  }
  
  .error {
    color: var(--secondary-color);
  }
  