.nav_bar__wrapper {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 5;
}

.nav_bar__wrapper ul {
	display: flex;
	justify-content: right;
	gap: 2rem;
}

.nav_bar__wrapper ul li {
	list-style: none;
	word-break: keep-all;
	font-size: 17px;
	font-weight: 600;
	color: var(--dark-secondary-color);
}

.nav_bar__wrapper ul li a {
	color: var(--dark-secondary-color);
	text-decoration: none;
}

.nav_bar__wrapper ul li a:hover {
	color: var(--black-color);
}

.main_header_logo__place img {
	height: 80px;
}

.get_started a {
	text-decoration: none;
	background-color: var(--secondary-color);
	padding: 0.8rem;
	font-weight: 600;
	color: var(--white-color) !important;
	border-radius: var(--border-radius-20);
}

.get_started a:hover {
	background-color: var(--dark-secondary-color);
}

/* Example CSS (YourStyles.module.css) */
.menu {
	list-style-type: none;
	padding: 0;
}

.menu > li {
	display: inline-block;
	margin-right: 15px;
}

.menu .dropdown {
	position: relative;
}

.menu .dropdownMenu {
	position: absolute;
	background-color: #fff;
	padding: 15px;
	padding-top: 60px;
	display: none;
	top: 100%;
	height: 340px;
	width: 220px;
	left: -80%;
	z-index: 13123;
}

.menu .dropdown:hover .dropdownMenu {
	display: block;
}

.menu .dropdown:hover .dropdownMenu li {
	width: 100%;
	padding-bottom: 15px;
}

.get_started {
	margin-left: 20px;
}

@media only screen and (max-width: 768px) {
	.nav_bar__wrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: none;
		box-shadow: var(--box-shadow);
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.nav_bar__wrapper ul {
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		background-color: var(--white-color);
		position: absolute;
		width: 100%;
		left: 0rem;
		padding-left: 1rem;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
		height: fit-content;
		z-index: 30;
	}

	.get_started {
		display: flex;
		justify-content: center;
	}
	.get_started a {
		padding: 0.6rem;
		position: absolute;
	}

	.mobile_logo_overview {
		display: flex;
		justify-content: space-between;
		width: 95%;
	}

	.mobile_logo_overview button {
		background: transparent;
		border: none;
		font-size: 23px;
	}
}
